/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower
$back-color:#D3D3D3;

body{
  // background-color: $back-color;
}
table{
    margin: 0 auto;
    width:auto;
    margin-top: 48px;
    text-align: left;
}
.info{
    font-weight: bold;
  }

h1{
    text-align: center;
}

.loginError{
    color:red;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;

  }
.container{
  width: 70%;
  padding-top: 35px;
   .form-group{
    color: black;
    font-size: 18px;
    input[type=text] {
      height: 45px;
    }
    input[type=password] {
      height: 45px;
    }
  }
  .form-actions{
    padding-top: 10px;
    .btn {
      height: 45px;
      font-size: 22px;
      font-family: serif;
    }
  }
}
.select-option{
  padding-top: 2px;
  .select-project {
    background-color: $back-color;
    height: 35px;
    font-weight: bold;

  }

}

  .btn-logout{
    padding-top: 30px;
    width:84%;
    margin: 0 auto;
    .logout{
      background-color: red;
      color: white;
      font-size: 16px;
      font-weight: bold;
    }
  }

@media screen and (min-width: 768px) {
  .container{
    padding-top: 35px;
     .form-group{
      color: black;
      font-size: 22px;
      input[type=text] {
        height: 55px;
      }
      input[type=password] {
        height: 55px;
      }
    }
  }

}
@media screen and (min-width: 412px) {
  // .container{
  //   padding-top: 35px;
  //    .form-group{
  //     color: black;
  //     font-size: 22px;
  //     input[type=text] {
  //       height: 55px;
  //     }
  //     input[type=password] {
  //       height: 55px;
  //     }
  //   }
  }



//

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
